.app_titlebar_txt{
  margin: 0;
  width: 100%;
  display: block;
  color: #a9a9a9;
  font-weight: 300;
  font-size: 1.6rem;
  background-color: #f8f5f2;
  position: fixed;
  top: 0;
  z-index: 998;
}
.mat_button_wrapper {
  display: inline-block;
   width: auto;
   fill: currentColor;
   height: 24px;
   color: #ABB2B8;
   justify-content: right;
   position: absolute;
   bottom: 0;
}

.App-link {
  color: #61dafb;
}

.body_style{
  padding: 7%;
  background-color: #f8f5f2;
}
.acc_spacing{
  padding-bottom: 2%;
}
.spacing{
  padding-top: 1%;
}

.sectionTitle[_ngcontent-ofg-c212] {
  font-family: Lora;
  font-size: 2rem;
  font-weight: 400;
  color: #424242;
  text-align: center;
  font-style: bold;

}
.mat-h2, .mat-title, .mat-typography h2 {
  font: 500 20px/32px IBM Plex Sans;
  letter-spacing: normal;
  margin: 0 0 16px;

}
.sectionSubtitle[_ngcontent-ofg-c212] {
  font-size: 90%;
  color: #a9a9a9;
  text-align: center;
}

/* divider */
.divider{
  border-bottom: 1px solid;
  margin: 30px auto;
  width: 10%;
  color: #a9a9a9;
}
.hr{
  border-bottom: 1px dashed;
  margin: 3rem auto 5rem;
  color: #a9a9a9;
}

.outer_container{
  flex-direction: column;
  box-sizing: border-box;
  display: block;
  place-content: stretch space-between;
  align-items: stretch;
  max-height: 100%;
  padding-right: 80px;
  padding-left: 80px;
  margin-right: auto;
  padding-top: 4rem;
  padding-bottom: 4rem;
  align-content: space-between;
}

/* .imgO{
  width: 40px;
  height: 40px;
  margin-bottom: .5rem!important;
} */

.section_content{
  flex-direction: row;
  flex: 1 1 100%;
  box-sizing: border-box;
  max-width: 50%;
}

/* Other Dashboard Cards CSS */
.space_btms {
  flex-direction: row;
    box-sizing: border-box;
    display: flex;
    place-content: stretch space-evenly;
    align-items: stretch;
    max-height: 100%;

}
.button-section{
display:flex;
flex-direction: row;
margin-top: 15px;
justify-content: flex-end;
align-items: center;
}
